[core]
editor = vim
excludesfile = ~/.ignore
autocrlf = input
quotepath = false
pager = delta

[interactive]
diffFilter = delta --color-only

[diff]
tool = vscode
colorMoved = default
submodule = log

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[merge]
conflictstyle = zdiff3
tool = vscode

[mergetool "vscode"]
cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[alias]
s = status
ss = status -s
cs = commit -s
cp = cherry-pick
cps = cherry-pick -x
co = checkout
amend = commit --amend
fixup = commit --fixup
unc = reset --mixed HEAD^
l = log --graph --decorate --date=format:'%Y-%m-%d %H:%M:%S' --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %C(green)(%cd)%C(reset) %s %C(bold blue)<%an>%C(reset)%C(yellow)%d%C(reset)'

[status]
submoduleSummary = true

[branch]
sort = -committerdate

[push]
default = simple
followTags = true

[pull]
rebase = true

[rebase]
autosquash = true
autostash = true

[user]
email = gjq.uoiai@outlook.com
name = MisLink
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKnH3JJcsZnksInIdffC18IkcI2IGxnvyQBv3j+/MHsm

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
gpgsign = true
verbose = true

[rerere]
enabled = true

[log]
date = iso

[submodule]
recurse = true

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[init]
defaultBranch = master

[delta]
navigate = true
line-numbers = true
syntax-theme = Dracula
features = line-numbers

[delta "line-numbers"]
line-numbers-zero-style = gray

[include]
path = .private_gitconfig
