[user]
	name = MisLink
	email = gjq.uoiai@outlook.com
[core]
	editor = vim
	excludesfile = C:\\Users\\gjquo\\.gitignore
	autocrlf = input
    quotepath = false
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	s = status
	ss = status -s
	c = commit -s
	cp = cherry-pick -x
	co = checkout
	amend = commit --amend
	uncommit = reset --soft HEAD^     # go back before last commit, with files in uncommitted state
	l = log --graph --decorate --date=format:'%Y-%m-%d %H:%M:%S' --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %C(green)(%cd)%C(reset) %s %C(bold blue)<%an>%C(reset)%C(yellow)%d%C(reset)'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
